<div class="service">
    <div class="service-info">
        <h2><%= service.name %></h2>
        <p><%= service.description %></p>
        <p><%= service.price %></p>
    </div>

    <div class="addons">
    </div>

    <div class="schedule">
        <%= render service.schedules %>
    </div>
</div>