<%= turbo_frame_tag "modal" do %>    
    <div data-controller="turbo-modal">
        <h1>Edit Service</h1>
        <%= render "form", service: @service %>
        <button data-action="turbo-modal#hideModal">Cancel</button>
    </div>
<% end %>