<%= turbo_frame_tag "modal" do %>    
    <div data-controller="turbo-modal">
        <h1>New Booking</h1>
        <%= render "form", booking: @booking %>
        <button data-action="turbo-modal#hideModal">Cancel</button>
    </div>
<% end %>