<%= form_with(model: [@category, @service, schedule]) do |f| %>
    
    <div class="mb-3">
        <%= f.label :available_date, class:"form-label" %>
        <%= f.date_field :available_date, min: Date.today, value: Date.today, class:"form-control" %>
    </div>

    <div class="mb-3">
        <%= f.submit class:"btn btn-primary" %>
    </div>
    
<% end %>