<h1>Order Number: <%= @booking_number %></h1>

<p>
  <%= @greeting %>, this is to confirm that you have successfully booked a service. Your order number is <%= @booking_number %>.
</p>

<p>THIS IS A TEST EMAIL ONLY</p>

