<%= turbo_frame_tag "modal" do %>    
    <div data-controller="turbo-modal">
        <h1>New Addon</h1>
        <%= render "form", addon: @addon %>
        <button data-action="turbo-modal#hideModal">Cancel</button>
    </div>
<% end %>