<li class="list-group-item">
    <div class="d-flex justify-content-between">
        <%= "#{time_formatter(timeslot)} | #{timeslot.slots} slots" %>
        <div class="d-flex">
            <%= link_to icon('fa-solid', 'pen-to-square'), edit_category_service_schedule_timeslot_path(timeslot.service.category, timeslot.service, timeslot.schedule, timeslot), data: { turbo_frame: 'modal' }, class:"btn btn-outline-primary btn-sm w-100" %>
            <%= button_to icon('fa-solid', 'xmark'), category_service_schedule_timeslot_path(timeslot.service.category, timeslot.service, timeslot.schedule, timeslot),
            method: :delete, form: { data: { turbo_confirm: "Delete timeslot on #{time_formatter(timeslot)}?" } }, class:"btn btn-outline-danger btn-sm w-100" %>
        </div>        
    </div>
</li>
